html {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    font-size: 36px;
    font-weight: 600;
}

.content {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

form {
    display: flex;
    gap: 12px;
}

input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 4px;
}

.grid-container {
    display: grid;
    gap: 2px;
    width: 400px;
    height: 400px;
}

.grid-row {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.grid-cell {
    flex: 1;
    background-color: lightgrey;
}

.fill {
    background-color: grey;
}

#grid-size-error {
    color: grey;
    font-size: 12px;
}